@import '_mixins';
/*DEFAULT STYLES*/

@font-face {
    font-family: 'bombshell_proregular';
    src: url('../fonts/Bombshell_Pro-webfont.eot');
    src: url('../fonts/Bombshell_Pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bombshell_Pro-webfont.woff2') format('woff2'),
         url('../fonts/Bombshell_Pro-webfont.woff') format('woff'),
         url('../fonts/Bombshell_Pro-webfont.ttf') format('truetype'),
         url('../fonts/Bombshell_Pro-webfont.svg#bombshell_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.overlay{
    position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.5);
	display:none;

	.fullsize{
		height: 500px;
		width: 500px;
		background-color: #ffffff;
		padding: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		display: none;
		z-index: 15;
		transform: translate(-50%, -50%);
		overflow-x: auto;


		img{
			z-index: 25;
			height: 90%;
			width: 90%;
		}

		.close{
			position: absolute;
		    top: 0px;
		    right: 0px;
		    /*border: 1px solid;*/
		    padding: 7px 16px;
		    /*border-radius: 50%;*/
		    font-family: lato;
		    line-height: 25px;
		    cursor: pointer;

		}
	}
}



.no_scroll{
	overflow:hidden;
}

body{
	width:100%;
	font-family: 'lato';
	text-align: center;	
	font-size:15px;

	

	h1,h2,h3,h4,h5,h6,p {
		line-height: 1;
	}
	
	h1 { font-size: 5em; 
	}
	
	h2 { font-size: 2em; 
	}
	
	h1{
		font-family: 'Playfair display';
		// font-size: 3em;
		color: #ffffff;
		font-weight: normal;
		text-shadow: 0px 0px 45px #000000;
		margin: 0px;

		@include breakpoint('mobile'){
			font-size:2em;
		}
	}

	h2{
		font-weight: normal;
		margin:0px;
		font-family: 'bombshell_proregular';
		color: #ffffff;
		padding:0px;
	}

	h3{
		font-weight: normal;
		font-family: 'Abril Fatface';
		// font-size:2em;
		padding:0px;
		margin: 0px;
	}

	.clear{
		clear: both;
	}

	/*NAV STYLES*/
	.main-nav {
		width: 100%;
		position:absolute;
		bottom: 0;
		padding: 1% 0px;
		background: rgba(0,0,0,.5);
		z-index: 9999;
		display:block;
		text-align:center;
		
		.desktop-tablet-entourage{

			@include breakpoint('mobile'){
				display: none !important;
			}
		}

		.mobile-entourage{
			display: none !important;

			@include breakpoint('mobile'){
				display:inline !important;	
			}
		}

		ul{
			height:30px;
			padding:0;
			margin:0 auto;
		}

		li{
			display:inline-block;			
			text-align:center;
			margin-right:5%;
			
			@include breakpoint('tablet'){
				font-size:1em;
				letter-spacing:2px;
				margin-right:2%;
			}

			@include breakpoint('mobile'){
				font-size:.75rem;
				margin-right:1%;
			}


			a{
				color: #ffffff;
				text-decoration: none;
				font-size: 1em;
				letter-spacing: 2px;
			
				@include breakpoint('mobile'){
					letter-spacing:2px;
					font-size: 1rem;
					text-transform:lowercase;
				}
			}	
		}

		.last{
			margin:0;
		}
	}

	.main-nav-scrolled {
		padding: 0;
		position: fixed;
		top: 0;
		height:30px;
		background: rgba(0,0,0,.75);
		


		@include breakpoint('tablet'){
			font-size:1em;
			letter-spacing:2px;
		}


		ul{
			padding:0px;
		}
	}

	/*HOMEPAGE STYLES*/
	#homepage{
		height:100%;
		position:relative;
		overflow:hidden;
		
		a.gifts{
			color:ffffff;
			font-size:20px;
			text-decorataion: none;
		}

		@include breakpoint('mobile'){
	    	height:50vh;
	    }

		.cbp-bislideshow {
		    list-style: none;
		    width: 100%;
		    position: absolute;
		    top: 0;
		    left: 0;
		    z-index: -1;
		    padding: 0;
		    margin: 0;
		}
		
		.main{
			padding:10% 0px;
			margin:0 auto;
			clear: both;
			width: 75%;
			
			@include breakpoint('tablet'){
				width: 100%;
				font-size:1.5em;
				
			}

			@include breakpoint('mobile'){
				padding:5% 0px;
				width: 100%;
				font-size:1.25em;
				
			}

			ul li{
				width:100%;

				@include breakpoint('tablet'){
					width: 100%;
					font-size:1.5em;
					
				}

				@include breakpoint('mobile'){
					width: 100%;
					font-size:1em;
					
				}
			}

		
			p{
				text-align: center;
				font-size: 1.5rem;
				letter-spacing: 10px;
				margin:0;
				color: #ffffff;
				padding:5%;

				@include breakpoint('tablet'){
					font-size: .5em;
				    letter-spacing: 2px;
				    padding: 0;
				    line-height: 50px;
				}

				@include breakpoint('mobile'){
					font-size: .5em;
				    letter-spacing: 2px;
				    padding: 0;
				    line-height: 50px;
				}
			}

			h1{
				font-size:4em;

				@include breakpoint('tablet'){
					width: 100%;
					font-size:1.5em;
				}

				@include breakpoint('mobile'){
					width: 100%;
					font-size:1em;
				}
			}
		}
		/*COUNTDOWN STYLES*/
		#clock{
			
			font-family: 'Abril Fatface';
			font-size: 1em;
			color: #ffffff;
			letter-spacing: 10px;
			text-shadow:0px 0px 15px #747576;
			
			@include breakpoint('tablet'){
				font-size: .7em;
				letter-spacing: 2px;
			}

			@include breakpoint('mobile'){
				font-size: .5em;
				letter-spacing: 2px;
				padding-bottom:10%;
			}
		}

	}
	
	/*WELCOME PAGE*/ 
	#welcome{
		padding: 5% 0;
		background-image: url('../img/chalkboard.jpg');
		background-size:cover;
		background-repeat:no-repeat;
		
		@include breakpoint('mobile'){
			padding:15% 0;
		}

		p{
			color:#ffffff;
			font-size:1em;
			width:50%;
			margin:0 auto;

			@include breakpoint('mobile'){
				width:95%;
				font-size:1rem;
			}
		}

		img{
			width:20px;
		}
	}

	/*THE COUPLE STYLES*/
	#couple{
		padding:5% 0;
		background-image: url('../img/whitescales.jpg');
		background-attachment:fixed;
	
		h2{
			color:#000;
		}

		h3{
			/*color:#cccccc;*/
			font-size: 2rem;
			line-height:55px;
		}

		#about_us{
			width: 95%;
			margin:0 auto;
			padding:5% 0;

			@include breakpoint('mobile'){
				width: 100%;
			}
		}
		
		.about{
			padding: 3% 0;
			width: 33%;
			margin: 0 auto;
			float: left;
			text-align: center;

			@include breakpoint('mobile'){
				width: 72%;
				float:none;
			}
		
		img.about-img{
			display: block;
			width: 75%;
			margin: 0 auto;
			border: 3px #cccccc solid;
			border-radius: 50%;

			
		}

		img.about-icon{
			display: block;
			margin: 20px auto;
		}	

		img.greyheart{
			width: 32px;
		}

		div.about-blurb p{
			width: 95%;
			text-align: center;
			font-size: 1em;
			margin: 0 auto;

			@include breakpoint('mobile'){
				font-size:1rem;
			}

		}
	}
}

	/*PROPOSAL*/
	#proposal{
		padding:5% 0;
		background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url('../img/proposal/diamondring.jpg');
		background-size: 100%;
		background-repeat:no-repeat;
		color: #000000;
		
		@include breakpoint('mobile'){
			background-size:cover;
		}

		h2{
			color: #000000;
		}

		p{
			width: 85%;
			margin: 0 auto;
			// line-height: 20px;
			color:#000000;
			font-size:1em;

			@include breakpoint('mobile'){
				font-size:1rem;	
			}
		}	
		
		.owl-carousel{
			padding-top:5%;
			margin:0;

			img{
				// display:block;
				width:100%;
				height:auto;
			}

			.owl-wrapper-outer{
				overflow:hidden;
				
				@include breakpoint('mobile'){
					height:auto;
				}
			}

			.owl-controls, .owl-pagination{
				display:none;
			}

			.owl-controls.clickable{
				display:none !important;
			}

			.owl-controls{
				display:none !important;	
			}
		}
	}
	
	/*BRIDAL PARTY*/
	#bridal_party{
		@include breakpoint('mobile'){
			display:none !important;
		}
		
		img{
			border: 3px solid #cccccc;
			border-radius: 50%;
			width: 100%;
			/*-webkit-filter: grayscale(100%); filter: grayscale(100%); */
		}

		img.default{
			display: none;
		}

		#bridesmaids{
			padding:5% 0;
			width: 50%;
			float:left;
			background-image: url('../img/cream-grain.jpg');
			background-attachment:fixed;
			color: #616257;
			text-align: center;
			position:relative;
			
			@include breakpoint('tablet'){
				float: left;
				width: 100%;
				text-align: center;
			}

			h2{
				color: #616257;
			}
			
			.bm-cover{
				height:100%;
				position:absolute;
				background-image: url('../img/cream-grain.jpg');
				top:0;
				right:0;
				width:100%;
				.bm-content{
					padding: 40% 0px;

					h2{
						// padding-top:20%;
					}
					img.click{
						// padding-bottom:20%;
						border: 0px;
						height: 100px;
						width:100px;
					}	
				}			
			}	
		}

		#groomsmen{
			padding:5% 0;
			width: 50%;
			float:left;
			background-image: url('../img/blackgrain.jpg');
			background-attachment:fixed;
			color: rgb(235,233,221);
			text-align: center;
			position:relative;
			
			
			@include breakpoint('tablet'){
				float: left;
				width: 100%; 
			}	

			h2{
				color: rgb(235,233,221);
			}		

			.gm-cover{
				height:100%;
				position:absolute;
				background-image: url('../img/blackgrain.jpg');
				top:0;
				right:0;
				width:100%;
				
				.gm-content{
					padding: 40% 0px;

					h2{
						// padding-top:20%;
					}
					img.click{
						// padding-bottom:20%;
						border: 0px;
						height: 100px;
						width:100px;
					}	
				}				
			}				
		}


		.single{
			width: 20%;
			padding: 3% 2%;
			float:left;
			height: 185px;


			@include breakpoint('tablet'){
				float: left;				
				margin-top: 0px;			
			}

			img{
				width: 100%;
			}

			h2{
				font-size: 20px;
				
			}

			h3{
				display:inline-block;
				font-size:15px;
			}
		}
	}

	/*OWL BRIDAL PARTY*/ 
	#owl_bridal_party{
		display:none !important;

		.owl-controls, .owl-pagination{
			display:none !important;
		}

		.owl-controls.clickable{
			display:none !important;
		}
		
		
		@include breakpoint('mobile'){
			display:block !important;

			img{
				border: 3px solid #cccccc;
				border-radius: 50%;
				width: 100%;
				/*-webkit-filter: grayscale(100%); filter: grayscale(100%); */
			}

			h2{
				font-size: 1.5em;
			}

			#owl_bridesmaids{
				
				background-image: url('../img/cream-grain.jpg');
				background-attachment:fixed;
				color: #616257;
				text-align: center;
				position:relative;
				width:100%;
				float:none;

				h2{
					color: #616257;
				}
				
				.owl-bm-cover{
					height:100%;
					// background-image: url('../img/cream-grain.jpg');
					width:100%;
					overflow:hidden;
										
					.bm-content{
						padding: 20% 0px;

						h2{
							padding-top:5%;
						}
						img.swipe{
							padding-top:5%;
							border: 0px;
							// height: 50px;
							width:50px;
						}	
					}		
					
				}				
			}

			#owl_groomsmen{
				
				width: 100%;
				float:none;
				background-image: url('../img/blackgrain.jpg');
				background-attachment:fixed;
				color: rgb(235,233,221);
				text-align: center;
				position:relative;

				h2{
					color: rgb(235,233,221);
				}		

				.owl-gm-cover{
					height:100%;
					// background-image: url('../img/blackgrain.jpg');
					width:100%;

					.gm-content{
						padding: 20% 0px;

						h2{
							padding-top:5%;
						}
						img.swipe{
							padding-top:5%;
							border: 0px;
							// height: 50px;
							width:50px;
						}	
					}		
				}				
			}

			.owl-single{
				width: 50%;
				padding: 3% 0%;
				float:left;

				img{
					width: 50%;
				}

				h2{
					font-size: 20px;
					
				}

				h3{
					display:inline-block;
					font-size:15px;
				}
			}		
		}
	}
	
	/*QUOTE*/
	.quote{
		background-image:url('../img/landing/IMG_1018.png');
		background-size: cover;
		background-width:100%;
		background-repeat:no-repeat;
		padding: 15% 0;
		
		@include breakpoint('mobile'){
			background-size:100%;
			padding:10% 0;
		}
		
		p{
			margin:0px;
			

			@include breakpoint('mobile'){
				width: 100%;
			
			}
		}
		
	}
	/*EVENTS STYLES*/
	#events{

		padding:5% 0;
		background-image: url('http://png.clipart.me/graphics/thumbs/117/hand-drawn-linear-simple-and-elegant-tartan-scottish-ethnic-pattern-with-barely-visible-grey-silver-lines-website-background-or_117587488.jpg');
		background-attachment: fixed;
		display: block;

		
		.section-head p{
			text-align: center;
			color: #000;
			margin:0;
			font-size:1rem;
		}

		.details{
			width: 65%;
			margin: 0 auto;

			@include breakpoint('mobile'){
				width: 100%;
				float:none;
			}
		}
		.event-details{
			padding: 2% 0;
			color: #3F3F3F;
			display: inline-block;
			background-color: rgba(143, 143, 143, 0.37);
			border-radius: 0;
			width: 40%; 
			margin: 10px;
			/* height: 15em; */

			@include breakpoint('mobile'){
				float: none;
			    margin: 10px 0;
			    width: 100%;
				float:none;
			}
			
			li{
				list-style: none;
				font-size: .95rem;
				color: #3F3F3F;
				text-align: left;
				width: 95%;
				margin: 0 auto;
				line-height: 30px;

				@include breakpoint('mobile'){
					font-size:1rem;
				}

				p{
					display: inline;
					padding: 0;
					margin:0;
				}

			}
		}

		img{
			margin-right: 10px;
		}
		
		.detail-icon{
			width: 20px;
		}

		.reception{
			background-repeat: no-repeat;
			background-size: 100%;
		}

		h2{
			color: #3F3F3F;
			
		}

		.map{
			@include breakpoint('mobile'){
				display:none;
			}
		}
	}

	/*RSVP*/
	#rsvp{
		display: none !important;
		background-image: url('../img/chalkboard.jpg');
		background-attachment: fixed;
		color: #ffffff;
		padding:5% 0;
		display:none;
		
		fieldset#rsvp-form{
			border: none;
			@include breakpoint('mobile'){
				width: 100%;
			}

			h3{
				// margin-bottom:10px;
			}

			.form-field{
				text-align: center;
				// width: 30%;
				margin: 0px auto;

				@include breakpoint('mobile'){
					width: 100%;
				}

				label{
					display: block;
					margin-top: 10px;
				}
			}

			.yes-no{
				label{
					display: block;
					margin-top: 10px;
					text-align:center;
				}
				
				input, select, textarea{
					@include breakpoint('mobile'){
						width: 100%;
					}
				}
			}	

			input, textarea, .numberOfGuests{
				width: 50%;
				text-align:center;
				background-color: rgba(255, 255, 255, 0.5);
				display: inline-block;
				padding: 10px;
				border: none;
				border-radius: 5px;
				color: #ffffff;
				font-family: 'lato';
				font-size: 15px;
				-webkit-transition: box-shadow 0.3s, border 0.3s;
				-moz-transition: box-shadow 0.3s, border 0.3s;
				-o-transition: box-shadow 0.3s, border 0.3s;
				transition: box-shadow 0.3s, border 0.3s;
				
				@include breakpoint('mobile'){
					width: 100%;
				}
			}

			input:focus, input[type="text"].focus, 
			textarea:focus, textarea[type="textarea"].focus,
			.numberOfGuests:focus, .numberOfGuests[type="text"].focus {
				border: none;
				-webkit-box-shadow: 0 0 5px 3px rgb(92, 108, 121);
				-moz-box-shadow: 0 0 5px 3px rgb(92, 108, 121);
				box-shadow: 0 0 5px 3px rgb(92, 108, 121);
				color: #ffffff;
				
				@include breakpoint('mobile'){
					width: 100%;
				}
			}

			input[type=submit] {
				margin-top: 25px;
				border: none;
				background-color:rgba(0, 0, 0, 0.5);	
				color: #ffffff;
				font-size: 25px;
				font-family: 'lato';
				font-weight: none;
				width: 50%;

				@include breakpoint('mobile'){
					width: 100%;
				}
			}
		}
	}

	/*OVERLAY*/


	/*SOCIAL*/
	#social{
		/*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)), url('../img/landing/social-bg.jpg');*/
		background-color: #000;
		background-size: cover;
		background-width:100%;
		background-repeat:no-repeat;
		/*// background-attachment:fixed;*/
		background-position:absolute;
		top:0;
		left:0;
		
		#ig-feed{
			margin: 0 auto;
			position: relative;

			div.ig-thumb{
				display: inline-block;
				height: 200px;
				line-height: 200px;
				position: relative;
			}


			.ig-thumb-hover{
				background-color: rgba(255,255,255,0.75);;
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left:0;
				opacity: 0;

				a{
					cursor: pointer;
					color: #000;
					text-decoration: none;
					font-family: 'Playfair display';
					font-weight: bold;
					/*background-color: #000;*/
					font-size: 15px; 
				}
			}

			img.ig-photo{
				width: 200px;
				height: 200px;
			}

			
		}
		

		.social-container{
			padding:5% 0;		
			
			@include breakpoint('mobile'){
				width: 100%;
				
			}
			
	
			h1{
				font-family: 'lato';
				font-weight: 100;
				color: #ffffff;
				text-shadow: 0px 0px 0px #FED3B2;
				margin-top: 2%;	
				font-size:2em;
	
				@include breakpoint('mobile'){
					font-size:1.5em;
					margin-bottom:3%;
				}
			}
	
			h2{
				padding-top: 2%;
	
				@include breakpoint('mobile'){
					font-size:1em;
				}
			}
	
			a img{
				padding: 25px;
				width:10%;
	
				@include breakpoint('mobile'){
					width: 15%;
					padding: 0px;
				}
			}
		}
	}

	/*FOOTER*/
	footer{
		color:#ffffff;
		padding: 1%;
		background: rgba(0,0,0,.5);
		box-shadow: 0 2px 3px rgba(0,0,0,.4);
		display:block;

		p{
			font-size:1em;
			margin:0;

			@include breakpoint('mobile'){
				font-size:.75rem;
			}
		}
		
		img{
			width: 25px;
		}

		h1{
			color: #ffffff;
			letter-spacing: 3px;
			font-size: 1em;
		}
	}
}



/*GUESTBOOK*/